@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5F7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* 让字体更清晰 */
}